{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4],
    "max-len": [2, 170, 4],
    "react/jsx-indent-props": [2, 4],
    "object-shorthand": [0],
    "arrow-body-style": [0],
    "no-unused-vars":  [0],
    "padded-blocks": [0],
    "func-names": [0],
    "space-before-function-paren": [0],
    "no-use-before-define": [0],
    "one-var": [0],
    "prefer-const": [0],
    "dot-notation": [0],
    "no-param-reassign": [0],
  }
}
